html {
    background-image: url("./images/plusplus-bgv.png");
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    margin: 0;
}

.current-page {
    color: aqua;
}

span { 
    display: inline;  
    background-color: #070D0D; 
    color: white; 
    padding: 5px 2.5px 5px 5px; 
} 

/* header */

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 98%;
    padding-top: 25px;
    font-size: 3.5vw;
    font-weight: bold;
    padding-left: 1.25vw;
}
  
.topnav a {
    text-align: center;
    text-decoration: none;
    letter-spacing: .5vw;
    color: white;
}
  
.topnav a:hover,
.topnav a.active,
.topnav a.active:hover {
    color: aqua;
}

/* home */
.pluses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 2vw;
    font-size: 15vw;  
    color: white;
    line-height: 15vw;
    padding: 20px 0 0 1.5vw;
}

.main-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75vw;
    max-height: 500px;
    margin: auto;
    padding-top: 75px;
}

/* about */

.about-body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 13px;
}

.about-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75vw;
    max-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* music */

.spotify {
    margin: auto;
    padding-top: 30px;
    width: 75%;
}

.music-section {
    padding-bottom: 75px;
}

/* shows */

.shows-section {
    text-align: center;
    color: white;
    padding-top: 30px;
}

.shows-header {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

.shows-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.epiphany-poster img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.show-listing,
.show-listing a {
    text-align: center;
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}

.show-listing a:visited {
    color: aqua;
}

.show-listing a:hover {
    color: white;
}

.sword-logo {
    text-align: center;
    padding-top: 50px;
}

.sword-logo img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* contact */

.email-padding{
    padding-top: 200px;
}

.email a:link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: aqua;
    font-size: 25px;
}

.ig a:link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: aqua;
    font-size: 25px;
    padding-top: 50px;
}

.email a:visited,
.ig a:visited {
    color: aqua;
}

.email a:hover,
.ig a:hover {
    color: white;
}